In [9]:
import os
from pathlib import Path
import pandas as pd
from rd import get_data

In [14]:
cwd = os.getcwd()
parent = str(Path(cwd).parents[0])
csv_path = os.path.join(parent,"antidepressants_last_12_months.csv")
last_12_months = pd.read_csv(csv_path, index_col="practice")
last_12_months.head()

,Other,Venlafaxine,Mirtazapine,Duloxetine,MAOi,Isocarboxazid,Iproniazid,Tranylcypromine,Moclobemide,Phenelzine,...,Tricyclics,Trimipramine,Dosulepin,Amitriptyline,Trazodone,Lofepramine,Maprotiline,Mianserin,total_items,total_cost
practice,,,,,,,,,,,,,,,,,,,,,
A81001,670,143,458,64,0,0,0,0,0,0,...,354,2,12,255,21,15,0,0,1842,3612.10418
A81002,2089,543,1000,506,0,0,0,0,0,0,...,1826,3,75,1416,222,26,0,0,8885,16738.55482
A81004,918,175,487,255,2,2,0,0,0,0,...,944,1,15,793,84,7,0,0,3917,11228.32966
A81005,642,176,364,102,3,0,0,0,0,3,...,493,0,3,393,65,14,0,0,2791,4829.95934
A81006,1483,368,858,255,2,0,0,0,0,2,...,1592,0,26,1357,130,8,0,0,7179,12693.57273

In [36]:
prescribing = last_12_months[['Dosulepin','Trimipramine']].sum(axis=1).to_frame(name='numerator')
prescribing['denominator'] = last_12_months['total_items']
prescribing['ratio'] = prescribing['numerator'] / prescribing['denominator']
prescribing.head()

          numerator  denominator     ratio
practice
A81001           14         1842  0.007600
A81002           78         8885  0.008779
A81004           16         3917  0.004085
A81005            3         2791  0.001075
A81006           26         7179  0.003622

In [2]:
regressors = get_data()
regressors.head()

,TOTAL_PATIENTS,TOTAL_DISP_PATIENTS,TOTAL_GP_HC,TOTAL_GP_FTE,SINGLE_HANDED,DISPENSING_BIN,GP_FTE_PER_10000,list_size,Deprivation score (IMD 2015),% who have a positive experience of their GP practice,...,pct,total_items,CL,PH,PHAS,QOF_TOTAL,Principal_Supplier,LSOA11NM,ruc11cd,RUC11
code,,,,,,,,,,,,,,,,,,,,,
A81001,4103.0,0.0,3.0,3.066667,0.0,0.0,7.474206,4097.083333,29.140310,81.489722,...,00K,94138.0,430.16,96.46,25.92,552.54,TPP,Stockton-on-Tees 014G,C,Urban city and town
A81002,19357.0,0.0,13.0,11.706667,0.0,0.0,6.047769,19829.750000,29.689706,85.932369,...,00K,451497.0,432.74,97.00,27.00,556.74,TPP,Stockton-on-Tees 014F,C,Urban city and town
A81003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,00K,NaN,NaN,NaN,NaN,NaN,NaN,Hartlepool 007D,C,Urban city and town
A81004,10941.0,0.0,4.0,3.186667,0.0,0.0,2.912592,10307.333333,34.411828,94.128403,...,00M,214788.0,431.60,97.00,27.00,555.60,TPP,Middlesbrough 015C,C,Urban city and town
A81005,8072.0,0.0,10.0,8.076800,0.0,0.0,10.005946,8020.416667,15.743812,92.121005,...,00M,195485.0,430.97,96.67,27.00,554.64,TPP,Redcar and Cleveland 018A,C,Urban city and town

In [37]:
combined = prescribing.join(regressors)
combined.to_csv('data_for_stata.csv')
combined.head()

,numerator,denominator,ratio,TOTAL_PATIENTS,TOTAL_DISP_PATIENTS,TOTAL_GP_HC,TOTAL_GP_FTE,SINGLE_HANDED,DISPENSING_BIN,GP_FTE_PER_10000,...,pct,total_items,CL,PH,PHAS,QOF_TOTAL,Principal_Supplier,LSOA11NM,ruc11cd,RUC11
A81001,14,1842,0.007600,4103.0,0.0,3.0,3.066667,0.0,0.0,7.474206,...,00K,94138.0,430.16,96.46,25.92,552.54,TPP,Stockton-on-Tees 014G,C,Urban city and town
A81002,78,8885,0.008779,19357.0,0.0,13.0,11.706667,0.0,0.0,6.047769,...,00K,451497.0,432.74,97.00,27.00,556.74,TPP,Stockton-on-Tees 014F,C,Urban city and town
A81004,16,3917,0.004085,10941.0,0.0,4.0,3.186667,0.0,0.0,2.912592,...,00M,214788.0,431.60,97.00,27.00,555.60,TPP,Middlesbrough 015C,C,Urban city and town
A81005,3,2791,0.001075,8072.0,0.0,10.0,8.076800,0.0,0.0,10.005946,...,00M,195485.0,430.97,96.67,27.00,554.64,TPP,Redcar and Cleveland 018A,C,Urban city and town
A81006,26,7179,0.003622,14784.0,0.0,10.0,7.520000,0.0,0.0,5.086580,...,00K,346425.0,417.78,97.00,25.93,540.71,TPP,Stockton-on-Tees 014F,C,Urban city and town